<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">

    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="/resource/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resource/admin/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="/resource/admin/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="/resource/admin/css/style.css" rel="stylesheet">
    <link href="/resource/admin/css/style-responsive.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="/resource/admin/js/html5shiv.js"></script>
    <script src="/resource/admin/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="login-body">

<div class="container">

    <form class="form-signin" action="/admin/reg" method="post">
        <h2 class="form-signin-heading">用户注册</h2>

        <div class="login-wrap">
            <input type="text" name="username" class="form-control" placeholder="用户名" autofocus>
            <input type="password" name="password" class="form-control" placeholder="密码">
            <input type="password" name="password1" class="form-control" placeholder="确认密码">
            <button class="btn btn-lg btn-login btn-block" type="submit">注册</button>
            <a class="btn btn-lg btn-block" href="/admin/login">登陆</a>
            <% if (error) { %>
            <p class="alert alert-danger"><%= error %></p>
            <% } %>
        </div>
    </form>
</div>


<!-- js placed at the end of the document so the pages load faster -->
<script src="/resource/admin/js/jquery.js"></script>
<script src="/resource/admin/js/bootstrap.min.js"></script>


</body>
</html>

