<%- include('./header.html'); -%>
<section id="container" class="">
    <!--header start-->
    <%- include('./nav.html'); -%>
    <!--header end-->
    <!--sidebar start-->
    <%- include('./sider.html'); -%>
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <!-- page start-->
            <!-- page end-->
        </section>
    </section>
    <!--main content end-->
</section>

<%- include('./footer.html'); -%>

</body>
</html>