<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="icon-laptop"></i>
                    <span>设置</span>
                </a>
                <ul class="sub">
                    <li><a  href="/admin/setting/site">站点设置</a></li>
                    <li><a  href="/admin/setting/seo">SEO设置</a></li>
                </ul>
            </li>

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
